
:root {
  --black: #010101;
  --white: #ffffff;
  --greyz: #f2f2f4;
  --blues: #0086d4;
  --oran: #fdbe14;

  --xsmall: 20px;
  --small: 25px;
  --medium: 30px;
  --large: 40px;
  --xlarge: 50px;
}
body {
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family:sans-serif;
}