{{define "index"}}
<html>
<head>
    <title>Jeu du pendu</title>
    <link rel="stylesheet" href="../static/css/bases.css">
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <div id="container"> 
    <h1>Jeu du pendu</h1>
    <a>
    <form action="/play">
        <label for="difficulty">Difficulté:</label>
        <select id="difficulty" name="difficulty">
            <option value="easy">Facile</option>
            <option value="medium">Moyen</option>
            <option value="hard">Difficile</option>
        </select>
        <label for="username">Nom d'utilisateur :</label>
        <input type="text" id="username" name="username" placeholder="entrer un nom">
        <input type="submit" value="Jouer">
    </form>
    </a>
</div>
</body>
</html>
{{end}}