{{define "play"}}
<html>
<head>
  <title>Jeu du pendu</title>
  <link rel="stylesheet" href="../static/css/bases.css">
  <link rel="stylesheet" href="../static/css/play.css">
</head>
<body>
  <div id="container">
      <h1>Jeu du pendu</h1>
    <p>Vous avez choisi le niveau : {{.Difficulty}}</p>
    <p>Nombre d'erreurs : {{.Errors}}</p>
      <h2 style="color: white">{{.GuessWord}}</h2>
  <form action="/play/post" method="post">
    <label for="word" style="color: white">Entrer une lettre ou un mot :</label>
    <input type="text" id="word" name="word"><br><br>
    <input type="submit" value="Tester">
    <input type="hidden" id="username" name="username" value="{{.Username}}">
  </form>
  </div>
  </body>

</html>
{{end}}