{{define "lose"}}
<html>
<head>
    <title>Jeu du pendu</title>
    <link rel="stylesheet" href="../static/css/bases.css">
    <link rel="stylesheet" href="../static/css/loose.css">
</head>
<div id="container">
<body>
<h1>Défaite</h1>
<p>Le mot été : {{.Word}}</p>
{{if le .Difficulty "easy"}}
<p>Dommage</p>
{{end}}
{{if le .Difficulty "medium"}}
<p>Dommage, essaie la difficulté Facile</p>
{{end}}
{{if le .Difficulty "hard"}}

{{end}}

<a href="/">
    <button>Retourner au menu</button>
</a>
</body>
</div>
</html>
{{end}}